.gantt {
  width: 100%;
  max-height: 400px;
  display: flex;
}

.gantt_expander {
  display: flex;
  /* width: 200px; */
}

.gantt_expander_column {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 150px;
}

.gantt_expander_column_header {
  width: 100%;
  flex-shrink: 0;
}

.gantt_expander_column_list {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  flex: 1;
  overflow: auto;
}

.gantt_chart {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.gantt_calendar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.gantt_calendar_header {
  box-sizing: border-box;
  flex: 1;
  width: 100%
}

.gantt_calendar_list {
  box-sizing: border-box;
  flex: 2;
  width: 100%;
  overflow: auto;
  overflow-y: hidden
}


.gantt_timeline {
  flex: 1;
  width: 100%;
  overflow: auto;
}

.gantt_timeline_cell_left_range,
.gantt_timeline_cell_right_range {
  width: 30px;
  height: 100%;
}

.gantt_timeline_cell_left_drag,
.gantt_timeline_cell_right_drag {
  width: 20px;
  height: 100%;
  cursor: pointer;
}

.gantt_expander_column_list::-webkit-scrollbar {
  display: none;
}

.gantt_calendar_list::-webkit-scrollbar {
  display: none;
}

/* .gantt_timeline::-webkit-scrollbar {
  display: none;
} */